.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Upload-icon {
  height: 10vmin;
}

.Dropzone-field {
  margin: 40px;
  padding: 10px;
  color: #acacac;
  background-color: #e9e9e9;
  border-width: thick;
  border-style: dashed;
  border-color: #acacac;
}